PORT=3000
DATABASE=mongodb://127.0.0.1:27017/secure-notes-api

JWT_ACCESS_SECRET=secure_notes_access_secret_key_12345
JWT_ACCESS_EXPIRES_IN=1d

JWT_REFRESH_SECRET=secure_notes_refresh_secret_key_67890
JWT_REFRESH_EXPIRES_IN=7d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FROM_EMAIL="Secure Notes API <noreply@securenotes.com>"
